<html>
   <head> 
      <title>Welcome to Sai's website {{greeting_msg}} </title>
   </head>
  <body>
      <h3>provisioned by {{provisioner_tool}} </h3>
      <h3>configured by {{cm_tool}}</h3>
      <h3>host name : {{ansible_hostname}} </h3>
  </body>
</html>

